@model IEnumerable<NugetRescuteDog.Models.Voluntario>

@{
    ViewData["Title"] = "Index";
    User user = Context.Session.GetObject<User>("LOGSESSION");
    List<Refugio> refugios =
            Context.Session.GetObject<List<Refugio>>("REFUGIOS");
}
 
@if (Context.User.Identity.IsAuthenticated == true)
{
     <div class="text-right">
         <a class="btn btn-dark" asp-controller="Voluntarios" asp-action="FormVoluntarios" style="margin-right:0px">Nuevo Voluntario</a>
     </div>    
}

@if(Model != null)
{
    @foreach(Voluntario voluntario in Model)
    {
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="row g-0 overflow-hidden flex-md-row mb-4  h-md-250 position-relative">
                    <div class="col-auto d-none d-lg-block">
                        <img src="~/images/@voluntario.Imagen" class="bd-placeholder-img" style="width:100%; height:auto "  />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row g-0 overflow-hidden flex-md-row mb-4  h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h1 class="d-inline-block mb-2 text-primary">@voluntario.Nombre</h1>
                        <h3 class="mb-0">
                            @foreach(Refugio refugio in refugios)
                            {
                                if(refugio.IdRefugio == voluntario.IdRefugio)
                                {
                                    <span>Es uno de los voluntarios de: @refugio.Nombre</span>
                                }
                            }
                        </h3>
                        <p class="card-text mb-auto">@voluntario.Mensaje</p>
                        <a href="#" class="stretched-link">Continue reading</a>
                    </div>
                    
                </div>
            </div>
            @if (Context.User.Identity.IsAuthenticated == true)
                    {
                        @if (int.Parse( Context.User.FindFirst(ClaimTypes.Role).Value) == 1)
                        {
                            <div class="text-right">
                                <a class="btn btn-dark" asp-controller="Voluntarios" asp-action="ModificarVoluntarios" asp-route-idvoluntario="@voluntario.IdVoluntario" style="margin-right:0px">Modificar Voluntario</a>
                            </div>
                            <div class="text-right">
                                <a class="btn btn-danger" asp-controller="Voluntarios" asp-action="BajaVolntuario" asp-route-idvoluntario="@voluntario.IdVoluntario" style="margin-right:0px">Eliminar</a>
                            </div>
                        }   
                    }
        </div>
    }

}
