@model IEnumerable<RecuteDog.Models.BlogModel>

@{
    ViewData["Title"] = "Publicaciones";
    List<Comentario> comentarios = ViewData["COMENTARIOS"] as List<Comentario>;
}
@section scripts {
     <script>
        $(document).ready(function() {
            $(".float-end.bg-white").click(function () {
                var idcomentario = $(this).data("idcomentario");
                var url = "/RescuteBlog/_EditComentariosPartial?idcomentario=" + idcomentario
                var cajaedicion = "formeditcomentario" + idcomentario
                $.get(url, function (data) {
                    $("#"+cajaedicion).html(data);
                });
            })
            })
     </script>
 }
@if (Context.User.Identity.IsAuthenticated == true)
{
        <div class="text-right">
             <a class="btn btn-primary" asp-controller="RescuteBlog" asp-action="NewPost" style="margin-right:0px"><img src="~/images/agregarboton.svg" style="width:48px; height:auto" /></a>
        </div>
}

@if (Model != null)
{
    @foreach (BlogModel publicacion in Model)
    {
        <div class="p-3 p-md-4 mb-5 bg-light rounded-3  h-50">
           @if (Context.User.Identity.IsAuthenticated == true)
        {
            @if (int.Parse( Context.User.FindFirst(ClaimTypes.Role).Value) == publicacion.IdUser)
            {
                <div class="float-end">
                     <a asp-controller="RescuteBlog" asp-action="DeletePublicacion" asp-route-idpost="@publicacion.IdPost" style="margin-right:0px"><img src="~/images/rubish.svg" style="width:24px; height:auto" /></a>
                 </div>
                <div class="float-end">
                    <a class="btn btn-dark" asp-controller="RescuteBlog" asp-action="EditPublicaciones" asp-route-idpost="@publicacion.IdPost" style="margin-right:0px; background-color:white; border:none"><img src="~/images/penciledit.svg" style="width:24px; height:auto;" /></a>
                </div>
            }   
        }
            <div class="container-fluid py-2">
                <img src="~/images/@publicacion.Imagen" class="img-fluid float-left" alt="RecuteBlog">
                <div class="col-md-6">
                    <p class="text-justify lead my-3">@publicacion.Contenido</p>
                </div>
            </div>
        </div>
        @foreach(Comentario comentario in comentarios)
        {
            @if(publicacion.IdPost == comentario.IdPost)
            {
                @if (Context.User.Identity.IsAuthenticated == true && int.Parse(Context.User.FindFirst(ClaimTypes.Role).Value) == comentario.IdUser)
                {
                    @if (int.Parse(Context.User.FindFirst(ClaimTypes.Role).Value) == comentario.IdUser)
                    {
                       <button class="float-end bg-white" style="border:none; border:none" id="'btnmodificar'@comentario.IdComentario" data-idcomentario="@comentario.IdComentario"><img src="~/images/penciledit.svg" style="width:48px; height:auto;" /></button>
                    <div id="@("formeditcomentario" + comentario.IdComentario)"></div>
                    <a class="float-end" asp-controller="RescuteBlog" asp-action="EliminarComentario" asp-route-idcomentario="@comentario.IdComentario"><img src="~/images/rubish.svg" style="width:48px; height:auto" /></a>
                    }
                }
                <div class="comment-list">
                    <p>@comentario.ComentarioDesc</p>
                    <h5>@comentario.Email</h5>
                    <h6>@comentario.Fecha</h6>
                 </div>
            }

            
        }
            <div class="comments-box card" style="margin-top:15px">
              <h3 class="card-header">Comentarios</h3>
              <div class="card-body">
                <form method="post">
                    <input type="hidden" name="idpost" value="@publicacion.IdPost" />
                  <div class="form-group">
                    <label for="nombre">Nombre:</label>
                        <input type="text" name="correo" class="form-control" id="nombre">
                  </div>
                  <input type="hidden" value="@DateTime.Now"/>
                  <div class="form-group">
                    <label for="comentario">Comentario:</label>
                    <textarea name="comentario" class="form-control" id="comentario"></textarea>
                  </div>
                    <button asp-controller="RescuteBlog" asp-action="Publicaciones" type="submit" class="btn btn-primary">Agregar Comentario</button>
                </form>
              </div>
            </div>

}

}
