@model IEnumerable<RecuteDog.Models.BlogModel>

@{
    ViewData["Title"] = "Publicaciones";
    List<Comentario> comentarios = ViewData["COMENTARIOS"] as List<Comentario>;
}
@section scripts {
     <script>
        $(document).ready(function() {           
            $(".btn.btn-warning").click(function() {
                var idcomentario = $(this).data("idcomentario");
                var url = "/RescuteBlog/_EditComentariosPartial?idcomentario=" + idcomentario
                var cajaedicion = "formeditcomentario" + idcomentario
                $.get(url, function (data) {
                    $("#"+cajaedicion).html(data);
                });
            })
            })
     </script>
 }
 
<h1>Publicaciones</h1>
<div class="text-right">
    <a class="btn btn-primary" asp-controller="RescuteBlog" asp-action="NewPost" style="margin-right:0px">Alta Refugio</a>
</div>
@if (Model != null)
{
    @foreach (BlogModel publicacion in Model)
    {
                <div class="text-right">
                    <a class="btn btn-dark" asp-controller="RescuteBlog" asp-action="EditPublicaciones" asp-route-idpost="@publicacion.IdPost" style="margin-right:0px">Modificar</a>
                </div> 
                <div class="text-right">
                    <a class="btn btn-danger" asp-controller="RescuteBlog" asp-action="DeletePublicacion" asp-route-idpost="@publicacion.IdPost" style="margin-right:0px">Eliminar</a>
                </div>

        <div class="p-3 p-md-4 mb-5 bg-light rounded-3  h-50">
            <div class="container-fluid py-2">
                <img src="@publicacion.Imagen" class="img-fluid float-left" alt="Imagen flotada a la izquierda">
                <div class="col-md-6">
                    <p class="text-justify lead my-3">@publicacion.Contenido</p>
                </div>
            </div>
        </div>
        @foreach(Comentario comentario in comentarios)
        {
            @if(publicacion.IdPost == comentario.IdPost)
            {
                <div class="comment-list">
                    <p>@comentario.ComentarioDesc</p>
                    <h5>@comentario.Email</h5>
                    <h6>@comentario.Fecha</h6>
                 </div>
                <button class="btn btn-warning" id="btnmodificar@comentario.IdComentario" data-idcomentario="@comentario.IdComentario">Edit</button>
                <div id="@("formeditcomentario" + comentario.IdComentario)"></div>
                <a asp-controller="RescuteBlog" asp-action="EliminarComentario" asp-route-idcomentario="@comentario.IdComentario" class="btn btn-danger">Eliminar COMENTARIO</a>
            }

            
        }
            <div class="comments-box card">
              <h3 class="card-header">Comentarios</h3>
              <div class="card-body">
                <form method="post">
                    <input type="hidden" name="idpost" value="@publicacion.IdPost" />
                  <div class="form-group">
                    <label for="nombre">Nombre:</label>
                        <input type="text" name="correo" class="form-control" id="nombre">
                  </div>
                  <input type="hidden" value="@DateTime.Now"/>
                  <div class="form-group">
                    <label for="comentario">Comentario:</label>
                    <textarea name="comentario" class="form-control" id="comentario"></textarea>
                  </div>
                    <button asp-controller="RescuteBlog" asp-action="Publicaciones" type="submit" class="btn btn-primary">Agregar Comentario</button>
                </form>
              </div>
            </div>

}

}
