@model IEnumerable<RecuteDog.Models.Mascota>

@{
    ViewData["Title"] = "Index";
}
@{
    int contador = 0;
    //string dogId = "";
}
<h1>Home</h1>

<p>
    <a asp-action="Create" class="btn btn-dark">Nueva Mascota en ResCuteDog</a>
</p>

<div id="containerMascotas">
    @foreach (Mascota mascota in Model)
    {
        <div class="card" style="background-color:moccasin;width:450px;">
            <img src="https://img.freepik.com/foto-gratis/adorable-perro-basenji-marron-blanco-sonriendo-dando-maximo-cinco-aislado-blanco_346278-1657.jpg" class="card-img-top" alt="TextoAlternativo" />
            <div class="card-body">
                <h1 class="card-title">Nombre: @mascota.Nombre</h1>
                <p class="card-text"> Descripcion: @mascota.Descripcion</p>
                @*Utilizar list-group list-group-flush para los items*@
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Raza: @mascota.Raza</li>
                <li class="list-group-item">Peso: @mascota.Peso</li>
                <li class="list-group-item">Ancho: @mascota.Ancho</li>
            </ul>
            <div class="card-body">
                <a class="btn btn-dark" asp-controller="Login" asp-action="Index">Adoptar</a>
            </div>
        </div>
    }
</div>
