@model IEnumerable<RecuteDog.Models.Mascota>

@{
    ViewData["Title"] = "Index";
}
@{
    int contador = 0;
    //string dogId = "";
}
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="..." class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div id="containerMascotas">
    @foreach (Mascota mascota in Model)
    {
        <div class="card" style="background-color:moccasin;width:450px;">
            <img src="@mascota.Imagen" class="card-img-top" alt="TextoAlternativo" />
            <div class="card-body">
                <h1 class="card-title">Nombre: @mascota.Nombre</h1>
                <p class="card-text"> Descripcion: @mascota.Descripcion</p>
                @*Utilizar list-group list-group-flush para los items*@
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Raza: @mascota.Raza</li>
                <li class="list-group-item">Peso: @mascota.Peso</li>
                <li class="list-group-item">Ancho: @mascota.Ancho</li>
            </ul>
            <div class="card-body">
                <a class="btn btn-dark" asp-controller="Login" asp-action="Index">Adoptar</a>
            </div>
        </div>
    }
</div>

