@model IEnumerable<RecuteDog.Models.Mascota>

@{
    ViewData["Title"] = "Index";
}
<div class="text-right">
    <a class="btn btn-primary" asp-controller="Home" asp-action="InformeAdopcion" style="margin-right:0px">Generar Informe</a>
</div>
<div class="text-right">
    <a class="btn btn-info" asp-controller="Home" asp-action="NuevaMascota" style="margin-right:0px">Ingreso Mascota</a>
</div>
<div id="containerMascotas" class="card-container d-flex flex-wrap justify-content-center">
    @foreach (Mascota mascota in Model)
    {
        if(mascota.Adoptado == false)
        {
            <div class="card" style="background-color:moccasin;width:450px; margin: 10px auto;">
                <img src="@mascota.Imagen" class="card-img-top" alt="TextoAlternativo" />
                <div class="card-body">
                    <h1 class="card-title">Nombre: @mascota.Nombre</h1>
                    <p class="card-text"> Descripcion: @mascota.Descripcion</p>
                    @*Utilizar list-group list-group-flush para los items*@
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Raza: @mascota.Raza</li>
                    <li class="list-group-item">Edad: @mascota.Edad</li>
                    <li class="list-group-item">Peso: @mascota.Peso Kg</li>
                    @if (mascota.Peligrosidad)
                    {
                        <li class="list-group-item"> Raza: Peligrosa</li>
                    }
                    else
                    {
                        <li class="list-group-item"> Raza: No Peligrosa</li>
                    }
                </ul>
                <div class="card-body">
                    <a class="btn btn-dark" asp-controller="Home" asp-action="FormularioAdopcion" asp-route-idmascota="@mascota.Id">Adoptar</a>
                </div>
            </div>
        }

       
    }
</div>

