@model IEnumerable<RecuteDog.Models.Mascota>

@{
    ViewData["Title"] = "InformeAdopcion";
}
@section scripts{
    <script>
        $(document).ready(function () {
            Init();
          function Init(){
                $("#btnDownLoadExcel").click(function () {
                GenerateAndDownloadExcel();
            });
          }
            function GenerateAndDownloadExcel() {
                $.ajax({
                    url: "../Home/GenerateAndDownLoadExcel",
                    method: 'GET',
                    success: function (response) {
                        ExcelFromBase64("Informe de adopciones.xlsx", response);
                    },
                    error: function (response) {
                        console.log("No se ha podido generar el informe excel");
                    }
                });

            }

            function ExcelFromBase64(fileName, bytesBase64){
                var link = document.createElement("a");
                link.download = fileName;
                link.href = 'data:application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;base64,' + bytesBase64;

                document.body.appendChild(link);

                link.click();

                document.body.removeChild(link);
            }
        })
    </script>
}

<h1>Informe de Adopciones</h1>

<table class="table table-dark">
    <thead>
        <tr>
            <th>NOMBRE</th>
            <th>RAZA</th>
            <th>EDAD</th>
            <th>ANCHURA</th>
            <th>ALTURA</th>
            <th>PESO</th>
            <th>IMAGEN</th>
            <th>IDREFUGIO</th>
            <th>DESCRIPCION</th>
            <th>PELIGROSIDAD</th>
            <th>ADOPTADO</th>
            <td>DEVOLVER</td>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.Nombre</td>
            <td>@item.Raza</td>
            <td>@item.Edad</td>
            <td>@item.Ancho</td>
            <td>@item.Alto</td>
            <td>@item.Peso</td>
            <td><img src="@item.Imagen" style="width:100px; height:auto" /></td>
            <td>@item.IdRefugio</td>
            <td>@item.Descripcion</td>
            <td>@item.Peligrosidad</td>
            <td>@item.Adoptado</td>
                <td>
                    <form method="post" action="@Url.Action("InformeAdopcion", "Home")">
                        <input type="hidden" name="idmascota" value="@item.Id" />
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </td>
        </tr>
}
    </tbody>
</table>
<button id="btnDownLoadExcel" class="btn btn-success">Descargar</button>
<br/>
<div>
    <input type="file" id="input" accept=".xls,xlsx,ods" />
    <button id="btnSave" class="btn btn-check">Save</button>
</div>

