@model List<Refugio>
@section scripts{
    <script>        
        $(document).ready(function(){
            $(document).on('click', '#micajarefugio', function () {
            var idrefugio = $(this).data('idrefugio');
            var url = '@Url.Action("Index", "Home", new { idrefugio = "__id__" })'.replace('__id__', idrefugio);
            window.location.href = url;
            });
        });
    </script>
}
@{
    User user = Context.Session.GetObject<User>("LOGSESSION");
}

@if (Context.User.Identity.IsAuthenticated == true)
{
    @if (int.Parse( Context.User.FindFirst(ClaimTypes.Role).Value) == 1)
    {
        <a class="btn btn-primary" asp-controller="Refugios" asp-action="AltaRefugios" style="margin-right:0px">Alta Refugio</a>
    }   
}

@if(Model != null)
{
    @foreach(Refugio refugio in Model)
    {
        <div id="micajarefugio" data-idrefugio="@refugio.IdRefugio" class="p-5 p-md-5 mb-5 rounded text-white" style="background-image: url('@Url.Content("~/images/"+ refugio.Imagen)'); background-size:cover; cursor:pointer; height:650px">
            <div class="col-md-6 px-0">
                @for (int i = 0; i <= refugio.Valoracion; i++)
                {
                    <img src="~/images/valoracion.svg" style="width:48px; height:auto" />
                }
                <h1 class="display-4 fst-italic text-white">@refugio.Nombre</h1>
                <p class="lead my-3">@refugio.Descripcion</p>
                <h5 class="display-5 fst-italic">Ubicacion</h5>
                <p class="lead my-4">@refugio.Ubicacion, @refugio.Localidad</p>
                <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
            </div>
            @if (Context.User.Identity.IsAuthenticated == true)
            {
                @if (int.Parse( Context.User.FindFirst(ClaimTypes.Role).Value) == 1)
                {
                    <div class="text-right">
                        <a class="btn btn-dark" asp-controller="Refugios" asp-action="ModificarRefugio" asp-route-idrefugio="@refugio.IdRefugio" style="margin-right:0px">Modificar Refugio</a>
                    </div>
                    <div class="text-right">
                        <a class="btn btn-danger" asp-controller="Home" asp-action="ActionBajasAllMascotasRefugio" asp-route-idrefugio="@refugio.IdRefugio" style="margin-right:0px">Eliminar</a>
                    </div>
                }   
            }   

        </div>
    }
}